<html>
<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)" style="margin-left:10%"> 
    <div class="form-group row" > 
        <label><h3>Name</h3></label> 
        <input type="text" formControlName="name" class="form-control">
        <div *ngIf="productForm.controls['name'].hasError('required')" class="alert alert-danger"> 
            Please enter product name </div> 
            <div *ngIf="productForm.controls['name'].hasError('minlength')" class="alert alert-danger"> 
                Please enter atleast 3 characters </div> 
                <div *ngIf="productForm.controls['name'].hasError('maxlength')" class="alert alert-danger"> 
                    Name cannot exceed 8 characters </div> 

         </div> 
        <div class="form-group row"> 
            <label><h3>Quantity</h3></label> 
            <input type="text" formControlName="quantity" class="form-control"> </div> 
            <div class="form-group row"> 
                <label><h3>Category</h3></label><select style=" height:50%" #cate  formControlName="category" class="form-control" >
            <option *ngFor="let cat of category" >
            {{cat}}
            </option>
            </select></div>
                <button   type="submit" class="btn btn-primary" (click)="addAdvertise(title.value,name.value,cate.value,description.value)">ADD PRODUCT</button> 
                 <button   type="button" class="btn btn-primary" (click)=getAdvertise()>GET AD</button>  
                </form>
</html>

