 <html>
 TITLE<input #title type="text"  name="title"><br><br>
               NAME <input #name type="text" name="name"><br><br>
               CATEGORY <select #cate>
            <option *ngFor="let cat of category" >
            {{cat}}
            </option>
            </select><br><br>
               DESCRIPTION <input #description type="text" name="desc">
               <button type="button" #add (click)="onChange(title.value,name.value,cate.value,description.value)">ADD PRODUCT</button>
 </html
 